*{
  margin: 0;
  padding: 0;
}
/* 
#E1A36f 
#dec484
#6F9F9C
#577E89
*/
html, body{
  font-size: 18px;
  background-color: #E2D8A5;
}

h1{
  max-width: 940px;
  font-size: 2.5em;
  font-size: Lato, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: 40px 0px;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contenedor-principal{
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}